<?php include ('../modules/navigation_games.php')?>

<div class="home-page"><br>
			<div class="columns">
					<h1>-Batman Arkham Origins-</h1>
					<div class="text">Posted by Admin| June 23, 2020 | Action<br><br>					
						<div class="game-text">	Batman: Arkham Origins features a pivotal tale 
												set on Christmas Eve where Batman is hunted by 
												eight of the deadliest assassins from the DC Comics 
												Universe. Players become an early-career Batman as 
												he encounters for the first his enemies.<br>						
						</div>
						
							<img class="image" src="../../assets/images/batman-arkham-origins-vr2.jpg" alt="Batman Akrham Origins">
						
						<h2>Game Overview</h2>
					</div>	
					<div class="game-text">
							Genre: Action<br>
							Developer: WB Games Montreal, Splash Damage<br>
							Publisher: Warner Bros. Interactive Entertainment<br>
							Release date: 25 Oct, 2013
					</div>
						<img class="image" src="../../assets/images/batman-arkham-origins-test.jpg" alt="Batman Arkham Origins gameplay"><br>																		
						<h2>System Requirement</h2>
							<ul type="disc"><h3>Minimum</h3>
								
								<li class="game-text">OS: 32-bit: Vista, Win7, Win8</li>
								<li class="game-text">Processor: Intel Core 2 Duo, 2.4GHz / AMD Athlon X2, 2.8GHz </li>
								<li class="game-text">Memory: 2 GB RAM </li>
								<li class="game-text">Graphics: NVIDIA GeForce 8800 GTS / AMD Radeon HD 3850 </li>
								<li class="game-text">DirectX: 9.0c </li>
								<li class="game-text">Storage: 20 GB avaliable space</li>
							
							</ul>
					<div class="game-text">
							<a href="#" target="_self">--Download link--</a>
					</div>
					<div class="js-program">
						This program allows you to see an estimate on how long will it take to download a game.<br>
						The size of this game is already known (20GB).<br>
						<input type="text" value="20" id="broj-gb" disabled><br>
						Please input your internet speed in mb/s:<br>
						<input type="number" id="broj-mb"><br>
						<input type="button" onclick="downloadtime()" value="Pokreni">
						<div id="rezultat">

						</div>

					</div>
			</div>
		</div>	
		<script src="./../../js/main.js">
		</script>
	</body>
</html>